.dashboard {
  .btn.btn-primary {
    border-radius: 0;
    background: $purple-heart;
    color: $white;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: $font-weight-bold;
    padding: 11px 20px 8px;
    line-height: 1.5;
    letter-spacing: 2px;
    margin-bottom: 5px;

    &:hover {
      background-color: $blue-gem;
      background-position: 100% 0;
      color: $white;
      box-shadow: 0 0 rem(24px) rgba(94, 32, 229, 0.4);
      transition: all 0.4s ease-in-out;
    }
  }

  .navbar {
    padding: 60px 40px 36px !important;

    @media (max-width: 580px) {
      padding-left: 10px !important;
      padding-right: 10px !important;
    }

    svg.logo {
      fill: $brand-color;
      height: 41px;
      width: auto;

      @media (max-width: 580px) {
        height: 30px;
      }

      @media (max-width: 440px) {
        height: 22px;
      }
    }

    .text-truncate {
      font-size: 18px;
      font-weight: $font-weight-medium;
      margin-bottom: 6px;
    }

    .text-muted {
      font-size: 15px;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
      color: $white !important;
      letter-spacing: 2.6px;
    }
  }

  .header {
    .text-truncate {
      p {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: $font-weight-bold;
        letter-spacing: 2.5px;
      }

      span {
        font-size: 18px;
        font-weight: $font-weight-medium;
        line-height: 2.1;
      }
    }
  }

  .card {
    background-color: $haiti;
    box-shadow: 0px 0px 144px rgba(155, 109, 255, 0.21);

    &-header {
      padding-top: 26px;
    }
    .cards {
      margin-bottom: 0;

      .statcard {
        min-height: 208px;

        span {
          font-size: 14px;
          font-weight: $font-weight-bold;
          text-transform: uppercase;
          letter-spacing: 2.6px;
          margin-top: 20px;
          display: block;
        }

        p {
          font-size: 31px;
          font-weight: $font-weight-bold;
        }

        small {
          text-transform: uppercase;
          font-size: 14px;
          display: block;
          margin-top: 5px;
        }

        .icon {
          margin-top: 19px !important;
        }
      }
    }

    .card-body {
      .card {
        .card-body {
          border: 1px solid rgba($white, 0.3);
          border-radius: 8px;
          padding: 34px 52px !important;

          p {
            font-size: 30px;
            font-weight: $font-weight-bold;
            letter-spacing: -1.7px;
          }

          .state {
            padding: 48px 10px 66px !important;

            p {
              font-size: 36px;
              font-weight: $font-weight-bold;
              letter-spacing: -1px;
            }

            div {
              font-size: 24px;
              font-weight: $font-weight-medium;
            }

            .btn.btn-primary {
              padding-top: 14px;
              padding-bottom: 10px;
              margin-top: 5px;
            }
          }
        }
      }
    }
  }

  .footer {
    small {
      font-size: 18px;
      font-weight: $font-weight-medium;
      margin-bottom: 16px;
      display: block;
    }
  }

  @media (min-width: 1200px) {
    .container {
      max-width: 1888px;
    }
  }
}

.modal {
  .btn,
  .btn.btn-primary {
    border-radius: 0;
    background: $purple-heart;
    color: $white;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: $font-weight-bold;
    padding: 11px 20px 8px;
    line-height: 1.5;
    letter-spacing: 2px;
    margin-bottom: 5px;

    &:hover {
      background-color: $blue-gem;
      background-position: 100% 0;
      color: $white;
      box-shadow: 0 0 rem(24px) rgba(94, 32, 229, 0.4);
      transition: all 0.4s ease-in-out;
    }
  }
}

.home {
  .btn-primary:disabled {
    background-color: $jumbo;
    color: $white;
  }

  .btn:disabled {
    opacity: 1;
  }
}
