.opacity-6 {
  opacity: 0.6;
}
.opacity-5 {
  opacity: 0.5;
}

.card {
  .card-header {
    &:first-child {
      border-radius: calc(#{$card-border-radius} - 1px) calc(#{$card-border-radius} - 1px) 0 0;
    }
  }
}

.table {
  th,
  td {
    font-size: 0.875rem;
    vertical-align: middle;
    &:first-of-type {
      padding-left: 0;
    }
    &:last-of-type {
      text-align: right;
      padding-right: 0;
    }
  }
  th {
    font-size: $table-head-font-size;
    font-weight: 400;
    padding-top: 0;
    padding-bottom: 0.875rem;
  }
  td {
    font-size: $table-font-size;
    border-top: $table-border-width solid $table-border-color;
    border-bottom: $table-border-width solid $table-border-color;
    span {
      font-size: 0.6875rem;
      border-radius: $btn-border-radius-sm;
    }
  }
  .trim {
    max-width: 10rem;
    @include media-breakpoint-up(sm) {
      max-width: 14rem;
    }
    @include media-breakpoint-up(md) {
      max-width: 30rem;
    }
    @include media-breakpoint-up(xl) {
      max-width: 42rem;
    }
  }
}

.table-overflow {
  overflow: inherit;
}

.fa-spin {
  animation-duration: 0.5s;
}
