$body: red !default; // body text
$body-bg: red !default; // body background

$primary: red !default; // btns, links
$secondary: red !default; // faded text
$muted: red !default; // strong faded text
$light: red !default; // menu items hover
$success: red !default;

$standard-box-shadow: red !default; // sidebar, navbar, cards
$link-hover-color: red !default;

$card-bg: red !default; // cards, navbar, sidebar
$border-color: red !default; // border used by many elements

$input-color: red !default;
$input-bg: red !default;
$input-disabled-bg: red !default;
$input-hover-border-color: red !default;
