@import './../../../node_modules/bootstrap/scss/functions';
@import './../../../node_modules/bootstrap/scss/variables';
@import './../../../node_modules/bootstrap/scss/mixins';

$body-background: $body-bg;
$font-family-sans-serif: 'Poppins', sans-serif;
$spacer-val: $spacer * 2;

// SPACING
$spacers: (
  spacer: (
    $spacer-val,
  ),
);
