$body: #000;
$body-bg: #fff;

$primary: #012557;
$secondary: #6c757d;
$muted: #cacbcc;
$light: #f5f5f5;
$success: #28a745;

$dapp_color: $secondary;

$primary-accent: lighten($primary, 20%);

$standard-box-shadow: $primary;
$link-hover-color: darken($primary, 7%);

$card-bg: #fff;
$border-color: lighten($muted, 10%);

$input-color: $secondary;
$input-bg: $card-bg;
$input-disabled-bg: #e9ecef;
$input-hover-border-color: darken($border-color, 15%);

@import './main';
