$body: #000;
$body-bg: #fff;

$primary: #012557;
$secondary: #6c757d;
$muted: #cacbcc;
$light: #f5f5f5;
$success: #28a745;

$dapp-color: $secondary;
$logo-height: 1.5rem;
$bg-image: #6a9fc7 url(../../assets/images/background.jpg) bottom center no-repeat;
$footer-color: #fff;

$blue-stats-card-bg: linear-gradient(153.43deg, #1233b2, #3464d0);
$light-blue-stats-card-bg: linear-gradient(153.43deg, #3585dd, #64adeb);
$green-stats-card-bg: linear-gradient(153.43deg, #209d67, #4bc197);
$orange-stats-card-bg: linear-gradient(153.43deg, #eaa822, #f2c64b);

$primary-accent: lighten($primary, 20%);

$standard-box-shadow: $primary;
$link-hover-color: darken($primary, 7%);

$card-bg: #fff;
$border-color: lighten($muted, 10%);

$input-color: $secondary;
$input-bg: $card-bg;
$input-disabled-bg: #e9ecef;
$input-hover-border-color: darken($border-color, 15%);

@import './main';
