.home {
  color: #464e5f;
  .login-container {
    max-width: 33.625rem;
    .logo {
      fill: $black;
      height: 2.5rem;
      width: auto;
    }
    p {
      font-size: 0.8125rem;
    }
  }
}
