footer {
  div {
    margin-top: 0.5rem;
    font-size: 0.75rem;
    display: inline-block;
    font-weight: 400;
    line-height: 1.155rem;
    padding: 0 .155rem;
    color: #c4c5cd;

    a {
      color: #000;

      &:hover {
        color: #000;
      }

      #heart {
        height: 16px;
        width: 16px;

        path {
          fill: #c00;
        }
      }
    }
  }
}

.home-layout {
  footer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;

    div {
      background: rgba(27,70,194,.4);

      a {
        color: #f7f9ff;
      }
    }
  }
}
