.home {
  color: #fff;
  .login-container {
    width: 100%;

    .btn {
      min-width: 6.875rem;
      @include media-breakpoint-up(sm) {
        min-width: 8rem;
      }
    }
    .logo {
      fill: $white;
      height: 2.5rem;
      width: auto;
    }
  }
}
.login__btn {
  display: inline-block;
}

.home__container {
  flex-direction: column;
}
.login__container {
  text-align: center;
}

.cards__login {
  margin-top: 30px;
  display: inline-block;
}

.logo2 {
  height: 100px !important;
}
.slider {
  width: 100%;
  padding: 0 30px;
}

div.rangeslider {
  .rangeslider__handle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: url(../../images/icon-slider.svg)
      rgb(16, 213, 194) center no-repeat;
    box-shadow: 0px 10px 20px 0px rgba(16, 213, 194, 0.7);
    cursor: pointer;
    position: relative;
    outline: none;
    border: none;
    top: 0;
    
    &:hover {
      background: url(../../images/icon-slider.svg)
        rgb(27, 230, 209) center no-repeat;
    }
    
    &:after {
      content: none;
    }

    &:active {
      cursor: grabbing;
      background: url(../../images/icon-slider.svg)
        rgb(13, 190, 173) center no-repeat;
    }
    
  }
  .rangeslider__handle-label:focus {
    outline: none;
  }
  
}

.rangeslider-horizontal {
  height: 3px;
  .rangeslider__fill {
    background-color: rgb(16, 213, 194);
  }
}

.dashboard {
    background: #9fd4cf;
    border-radius: 0.65rem;
    height: 100%;
}