.home {
  color: #fff;
  .login-container {
    width: 100%;

    .btn {
      min-width: 6.875rem;
      @include media-breakpoint-up(sm) {
        min-width: 8rem;
      }
    }
    .logo {
      fill: $white;
      height: 2.5rem;
      width: auto;
    }
  }
}
.login__btn {
  display: inline-block;
}

.home__container {
  flex-direction: column;
}
.login__container {
  text-align: center;
}

.cards__login {
  margin-top: 30px;
  display: inline-block;
}

.logo2 {
  height: 90px !important;
  g {
    fill: #fff;
  }
}
.slider {
  width: 100%;
  padding: 0 30px;
}

div.rangeslider {
  .rangeslider__handle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: url(../../images/icon-slider.svg)
    #05d6af center no-repeat;
    box-shadow: 0px 10px 20px 0px #05d6af24;
    cursor: pointer;
    position: relative;
    outline: none;
    border: none;
    top: 0;
    
    &:hover {
      background: url(../../images/icon-slider.svg)
        rgb(27, 230, 209) center no-repeat;
    }
    
    &:after {
      content: none;
    }

    &:active {
      cursor: grabbing;
      background: url(../../images/icon-slider.svg)
        rgb(13, 190, 173) center no-repeat;
    }
    
  }
  .rangeslider__handle-label:focus {
    outline: none;
  }
  
}

.rangeslider-horizontal {
  height: 1px;
  background: #888;
  .rangeslider__fill {
    background-color: rgb(16, 213, 194);
  }
}

.dashboard {
  background: linear-gradient( 143deg , #464546a8 0%, #3d3f42 100%);
    border-radius: 0;
    height: 100%;
    .card {
      border-radius: 0;
    }
}

.outside__green {
  color: #05d6af;
}

.outside__grey {
  color: #5d6473;
}

.outside__dark {
  color: #000;
}

.outside__light {
  color: #fff;
}

.custom__logo {
  font-family: $font-family-sans-serif;
  .logo__title {
    color: #fff;
    font-size: 35px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1;
    clear: both;
    font-weight: 600;
  }
  .logo__desc {
    color: #05d6af;
    font-size: 16px;
    letter-spacing: 3px;
    margin-bottom: 0px;
  }
}


.outside_btn {
  background: #323234 !important;
}