.trim {
  display: flex;
  max-width: 100%;
  overflow: hidden;

  &.overflow {
    .ellipsis {
      display: block;
    }
  }

  .left {
    flex-shrink: 1;
    font-size: 2px;
    color: transparent;

    overflow: hidden;
    text-overflow: ellipsis;
  }

  .right {
    flex-shrink: 1;
    font-size: 2px;
    color: transparent;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    direction: rtl;
  }

  .left span,
  .right span {
    color: #000;
    font-size: 1rem;
  }

  .ellipsis {
    flex-shrink: 0;
    display: none;
  }

  /* IE fix */
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .right {
      text-overflow: clip;
    }
  }

  /* SAFARI 10.1+ fix */
  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) {
      .right {
        text-overflow: unset;
      }
    }
  }
}

.trim-wrapper {
  display: flex;
  max-width: 100%;
  overflow: hidden;
}

a:hover > .trim span {
  color: $link-hover-color !important;
}

a > .trim span {
  color: $primary !important;
}

.table .trim {
  max-width: 10rem;
}

.table .trim-only-sm .trim {
  max-width: none;

  @include media-breakpoint-down(sm) {
    max-width: 13rem;
  }
}

.table .trim-size-xl .trim {
  @include media-breakpoint-up(md) {
    max-width: 13rem;
  }
}